# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=your-project-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
# Usage of SUPABASE_SERVICE_ROLE_KEY is deprecated in favor of SUPABASE_SECRET_KEY
SUPABASE_SECRET_KEY=your-secret-key
# Legacy support:
# SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
